{{>header}}
{{>navbar}}
{{#unless article}}
    <div class="alert alert-danger">
        article not found
    </div>
{{else}}
    <form method="post">
        <div class="mb-3">
            <input placeholder="Name" name="title" class="form-control" value="{{article.title}}">
        </div>
        <div class="mb-3">
            <input placeholder="Email" name="content" class="form-control" value="{{article.content}}">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Edit Article</button>
        </div>
    </form>
    {{/unless}}
{{>footer}}